# Godot 4+ specific ignores
.godot/
Videos/shatter.ogv
/Videos
Sounds/SFX/magic_windup.ogg.sfk
3d/
Content/TEMPORARYSCENES/cauldronmagic.gdshader
Content/TEMPORARYSCENES/nod2AB6.tmp
Content/TEMPORARYSCENES/nod84A2.tmp
Content/TEMPORARYSCENES/nod350.tmp
Content/TEMPORARYSCENES/node_3d.tscn
Fonts/
